In [309]:
## for data
import pandas as pd
import numpy as np

In [310]:
df_movies = pd.read_csv('datasets/to_use/movies_cleaned_kev_cosine.csv')
df_posters1 = pd.read_csv('datasets/movie_posters/ml1m_images.csv')
df_posters2 = pd.read_csv('datasets/movie_posters/movie_poster.csv')

In [311]:
df_posters1 = df_posters1.rename({'item_id': 'movieId', 'image': 'poster_url'}, axis='columns')
df_posters2 = df_posters2.rename({'1': 'movieId',  'https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@..jpg': 'poster_url'}, axis='columns')

In [312]:
df_movies

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,certificate_nan,num_rating_high,num_rating_low,num_rating_medium,num_rating_super_high,num_rating_super_low,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,4,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
3,8,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,14,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21522,208941,0,0,0,1,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
21523,208943,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
21524,209041,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21525,209053,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
21526,209145,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0

In [313]:
df_posters1

      movieId                                         poster_url
0        3186  https://m.media-amazon.com/images/M/MV5BNzdjZD...
1        1270  https://m.media-amazon.com/images/M/MV5BZmU0M2...
2        1721  https://m.media-amazon.com/images/M/MV5BMDdmZG...
3        1022  https://m.media-amazon.com/images/M/MV5BMWE3Nz...
4        2340  https://m.media-amazon.com/images/M/MV5BNTc0Mz...
...       ...                                                ...
3255     1878  https://m.media-amazon.com/images/M/MV5BZTIxMD...
3256     3283  https://m.media-amazon.com/images/M/MV5BYjUxNT...
3257     1520  https://m.media-amazon.com/images/M/MV5BYzZhMD...
3258     1770  https://m.media-amazon.com/images/M/MV5BMTM5Mz...
3259     2783  https://m.media-amazon.com/images/M/MV5BNjgxNT...

[3260 rows x 2 columns]

In [314]:
df_posters2

      movieId                                         poster_url
0           2  https://images-na.ssl-images-amazon.com/images...
1           3  https://images-na.ssl-images-amazon.com/images...
2           4  https://images-na.ssl-images-amazon.com/images...
3           5  https://images-na.ssl-images-amazon.com/images...
4           7  https://images-na.ssl-images-amazon.com/images...
...       ...                                                ...
1586     1678  https://images-na.ssl-images-amazon.com/images...
1587     1679  https://images-na.ssl-images-amazon.com/images...
1588     1680  https://images-na.ssl-images-amazon.com/images...
1589     1681  https://images-na.ssl-images-amazon.com/images...
1590     1682  https://images-na.ssl-images-amazon.com/images...

[1591 rows x 2 columns]

In [315]:
df_movies1 = df_movies[['movieId']]

In [316]:
df_movies1 = df_movies1.merge(df_posters1, on='movieId', how='left')
df_movies1 = df_movies1.merge(df_posters2, on='movieId', how='left')

In [317]:
df_movies1

,movieId,poster_url_x,poster_url_y
0,1,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,NaN
1,2,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,https://images-na.ssl-images-amazon.com/images...
2,4,https://m.media-amazon.com/images/M/MV5BYzcyMD...,https://images-na.ssl-images-amazon.com/images...
3,8,https://m.media-amazon.com/images/M/MV5BN2ZkZT...,https://images-na.ssl-images-amazon.com/images...
4,14,https://m.media-amazon.com/images/M/MV5BNzBlOW...,https://images-na.ssl-images-amazon.com/images...
...,...,...,...
21522,208941,NaN,NaN
21523,208943,NaN,NaN
21524,209041,NaN,NaN
21525,209053,NaN,NaN
21526,209145,NaN,NaN

In [318]:
df_movies1 = df_movies1.assign(**{
    'poster_url': df_movies1['poster_url_x'].fillna(df_movies1['poster_url_y'])})

In [319]:
df_movies1 = df_movies1[['movieId', 'poster_url']]

In [320]:
df_movies1

       movieId                                         poster_url
0            1  https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1            2  https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2            4  https://m.media-amazon.com/images/M/MV5BYzcyMD...
3            8  https://m.media-amazon.com/images/M/MV5BN2ZkZT...
4           14  https://m.media-amazon.com/images/M/MV5BNzBlOW...
...        ...                                                ...
21522   208941                                                NaN
21523   208943                                                NaN
21524   209041                                                NaN
21525   209053                                                NaN
21526   209145                                                NaN

[21527 rows x 2 columns]

In [321]:
df_movies1.isna().sum()

movieId           0
poster_url    19855
dtype: int64

# try using OMDB API

In [322]:
import requests
import json

In [323]:
response = requests.get('https://www.omdbapi.com/?t=casino&apikey=ae41fb6d')

In [324]:
response.status_code

401

In [325]:
print(response.json())

{'Response': 'False', 'Error': 'Request limit reached!'}

In [326]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "Error": "Request limit reached!",
    "Response": "False"
}

In [327]:
parameters = {
    "t": "Pulp Fiction",
    "y": 1994
}

response = requests.get("https://www.omdbapi.com/?apikey=ae41fb6d", params=parameters)

jprint(response.json())

{
    "Actors": "John Travolta, Uma Thurman, Samuel L. Jackson",
    "Awards": "Won 1 Oscar. 70 wins & 75 nominations total",
    "BoxOffice": "$107,928,762",
    "Country": "United States",
    "DVD": "20 Aug 2002",
    "Director": "Quentin Tarantino",
    "Genre": "Crime, Drama",
    "Language": "English, Spanish, French",
    "Metascore": "94",
    "Plot": "The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg",
    "Production": "N/A",
    "Rated": "R",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "8.9/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "92%"
        },
        {
            "Source": "Metacritic",
            "Value": "94/100"
        }
    ],
    "Released": "14 Oct 1994",
    "Response": "True",
    "Runtime": "154 min",
    "Title": "Pulp Fiction",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Quentin Tarantino, Roger Avary",
    "Year": "1994",
    "imdbID": "tt0110912",
    "imdbRating": "8.9",
    "imdbVotes": "2,079,328"
}

In [328]:
print(response.json()['Poster'])

https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg

In [329]:
print(response.json()['Plot'])

The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.

now we need a dataframe of all IMDB movies with columns:['title', 'title_only', 'year', 'poster_url', 'plot', 'num_of_ratings', 'imdb_rating', 'movieId', THEN ALL ONE HOT ENCODED COLUMNS (genre, certificate, num_rating and imdb_rating)]

note:

title = cleaned title that we've been using with format Title (Year)

movieId = movieLens movieId, empty for IMDB movies who are not in movieLens

In [330]:
df_imdb_movies = pd.read_csv('datasets/imdb_cleaned/Scraped_Cleaned.csv')
df_imdb_movies = df_imdb_movies.drop(['Unnamed: 0', 'runtime', 'budget', 'worldwide_gross', 'origin', 'cast', 'director', 'writer', 'producer', 'composer', 'cinematographer', 'editor'], axis=1)

In [331]:
df_imdb_movies

,title,imdb_rating,num_of_rating,year,Action,Adult,Adventure,Animation,Biography,Comedy,...,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,Not Rated,certificate_nan
0,The Shawshank Redemption (1994),9.3,2700000.0,1990.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Dark Knight (2008),9.0,2700000.0,2000.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Inception (2010),8.8,2400000.0,2000.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fight Club (1999),8.8,2100000.0,1990.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Pulp Fiction (1994),8.9,2100000.0,1990.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96562,Long Slow Exhale (2022),6.5,181.0,2020.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96563,A Christmas Open House (2022),5.2,181.0,2020.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96564,Fast Times (1986),5.5,181.0,1980.0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
96565,La maternal (2022),7.1,181.0,2020.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96566,Alien Sniperess (2022),2.2,181.0,2020.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [332]:
#now let's add movie lens movieId to movies that exist in both imdb and movielens

In [333]:
df_movieId = pd.read_csv('datasets/to_use/movies_cleaned.csv')[['title', 'movieId']]
df_movieId

                                        title  movieId
0             The Shawshank Redemption (1994)      318
1                      The Dark Knight (2008)    58559
2                            Inception (2010)    79132
3                           Fight Club (1999)     2959
4                         Pulp Fiction (1994)      296
...                                       ...      ...
22691  Doggiewoggiez! Poochiewoochiez! (2012)   120134
22692                        Bobbikins (1959)   113682
22693                           Vallen (2001)   150064
22694                  Exclusive Story (1936)   150944
22695               His Wooden Wedding (1925)   205150

[22696 rows x 2 columns]

In [334]:
df_imdb_movies1 = df_imdb_movies.merge(df_movieId, how='left', on='title')

In [335]:
df_imdb_movies1[df_imdb_movies1.year.isna()]

,title,imdb_rating,num_of_rating,year,Action,Adult,Adventure,Animation,Biography,Comedy,...,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,U/A,Unrated,X,Not Rated,certificate_nan,movieId
1611,The Animatrix (2003 Video),7.3,79000.0,NaN,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,NaN
1691,Band Camp (2005 Video),5.0,73000.0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
1713,Duel (1971 TV Movie),7.6,72000.0,NaN,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1751,The Naked Mile (2006 Video),5.1,71000.0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
1815,Beta House (2007 Video),5.3,66000.0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96524,Hell on Earth (2002 TV Movie),7.3,182.0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NaN
96532,The Crucifier (2005 Video),2.2,182.0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NaN
96537,"Kevin Nealon: Whelmed, But Not Overly (2012 TV...",6.3,182.0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
96542,Lano & Woodley: The Island (2005 TV Movie),8.6,182.0,NaN,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,NaN
96556,The Prodigy: Their Law - The Singles 1990-2005...,8.9,182.0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NaN

In [336]:
# drop these weird mofos
df_imdb_movies1.dropna(subset=['year'], inplace=True)

In [337]:
df_imdb_movies1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82722 entries, 0 to 96566
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            82722 non-null  object
 1   imdb_rating      82722 non-null  float64
 2   num_of_rating    82722 non-null  float64
 3   year             82722 non-null  float64
 4   Action           82722 non-null  int64
 5   Adult            82722 non-null  int64
 6   Adventure        82722 non-null  int64
 7   Animation        82722 non-null  int64
 8   Biography        82722 non-null  int64
 9   Comedy           82722 non-null  int64
 10  Crime            82722 non-null  int64
 11  Documentary      82722 non-null  int64
 12  Drama            82722 non-null  int64
 13  Family           82722 non-null  int64
 14  Fantasy          82722 non-null  int64
 15  Film-Noir        82722 non-null  int64
 16  Game-Show        82722 non-null  int64
 17  History          82722 non-null  int64
 18  Horror           82722 non-null  int64
 19  Music            82722 non-null  int64
 20  Musical          82722 non-null  int64
 21  Mystery          82722 non-null  int64
 22  News             82722 non-null  int64
 23  Reality-TV       82722 non-null  int64
 24  Romance          82722 non-null  int64
 25  Sci-Fi           82722 non-null  int64
 26  Short            82722 non-null  int64
 27  Sport            82722 non-null  int64
 28  Talk-Show        82722 non-null  int64
 29  Thriller         82722 non-null  int64
 30  War              82722 non-null  int64
 31  Western          82722 non-null  int64
 32  genre_nan        82722 non-null  int64
 33  (Banned)         82722 non-null  int64
 34  13+              82722 non-null  int64
 35  15               82722 non-null  int64
 36  16+              82722 non-null  int64
 37  18+              82722 non-null  int64
 38  ADV              82722 non-null  int64
 39  ADV16            82722 non-null  int64
 40  AO               82722 non-null  int64
 41  All              82722 non-null  int64
 42  Approved         82722 non-null  int64
 43  E                82722 non-null  int64
 44  E10+             82722 non-null  int64
 45  F                82722 non-null  int64
 46  G                82722 non-null  int64
 47  GA               82722 non-null  int64
 48  GP               82722 non-null  int64
 49  K-A              82722 non-null  int64
 50  M                82722 non-null  int64
 51  M/PG             82722 non-null  int64
 52  M18              82722 non-null  int64
 53  MA-13            82722 non-null  int64
 54  MA-17            82722 non-null  int64
 55  NC-16            82722 non-null  int64
 56  NC-17            82722 non-null  int64
 57  NC16             82722 non-null  int64
 58  Open             82722 non-null  int64
 59  PG               82722 non-null  int64
 60  PG-13            82722 non-null  int64
 61  PG13             82722 non-null  int64
 62  Passed           82722 non-null  int64
 63  R                82722 non-null  int64
 64  R(A)             82722 non-null  int64
 65  R21              82722 non-null  int64
 66  T                82722 non-null  int64
 67  TV-13            82722 non-null  int64
 68  TV-14            82722 non-null  int64
 69  TV-G             82722 non-null  int64
 70  TV-MA            82722 non-null  int64
 71  TV-PG            82722 non-null  int64
 72  TV-Y             82722 non-null  int64
 73  TV-Y7            82722 non-null  int64
 74  TV-Y7-FV         82722 non-null  int64
 75  U/A              82722 non-null  int64
 76  Unrated          82722 non-null  int64
 77  X                82722 non-null  int64
 78  Not Rated        82722 non-null  int64
 79  certificate_nan  82722 non-null  int64
 80  movieId          22722 non-null  float64
dtypes: float64(4), int64(76), object(1)
memory usage: 51.8+ MB

In [338]:
# replace year with actual year (currently it's decade year)
df_imdb_movies1 = df_imdb_movies1.drop('year', axis=1)

In [339]:
df_imdb_movies1['title_only'] = df_imdb_movies1['title'].str[:-7]
df_imdb_movies1['year'] = df_imdb_movies1['title'].str[-5:-1]

In [340]:
df_imdb_movies1

,title,imdb_rating,num_of_rating,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,TV-Y7,TV-Y7-FV,U/A,Unrated,X,Not Rated,certificate_nan,movieId,title_only,year
0,The Shawshank Redemption (1994),9.3,2700000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,318.0,The Shawshank Redemption,1994
1,The Dark Knight (2008),9.0,2700000.0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,58559.0,The Dark Knight,2008
2,Inception (2010),8.8,2400000.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,79132.0,Inception,2010
3,Fight Club (1999),8.8,2100000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2959.0,Fight Club,1999
4,Pulp Fiction (1994),8.9,2100000.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,296.0,Pulp Fiction,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96562,Long Slow Exhale (2022),6.5,181.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,Long Slow Exhale,2022
96563,A Christmas Open House (2022),5.2,181.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,NaN,A Christmas Open House,2022
96564,Fast Times (1986),5.5,181.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,NaN,Fast Times,1986
96565,La maternal (2022),7.1,181.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,NaN,La maternal,2022
96566,Alien Sniperess (2022),2.2,181.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,NaN,Alien Sniperess,2022

In [341]:
#check no NA data except for movieID
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(df_imdb_movies1.isna().sum())

title                  0
imdb_rating            0
num_of_rating          0
Action                 0
Adult                  0
Adventure              0
Animation              0
Biography              0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Family                 0
Fantasy                0
Film-Noir              0
Game-Show              0
History                0
Horror                 0
Music                  0
Musical                0
Mystery                0
News                   0
Reality-TV             0
Romance                0
Sci-Fi                 0
Short                  0
Sport                  0
Talk-Show              0
Thriller               0
War                    0
Western                0
genre_nan              0
(Banned)               0
13+                    0
15                     0
16+                    0
18+                    0
ADV                    0
ADV16                  0
AO                     0
All                    0
Approved               0
E                      0
E10+                   0
F                      0
G                      0
GA                     0
GP                     0
K-A                    0
M                      0
M/PG                   0
M18                    0
MA-13                  0
MA-17                  0
NC-16                  0
NC-17                  0
NC16                   0
Open                   0
PG                     0
PG-13                  0
PG13                   0
Passed                 0
R                      0
R(A)                   0
R21                    0
T                      0
TV-13                  0
TV-14                  0
TV-G                   0
TV-MA                  0
TV-PG                  0
TV-Y                   0
TV-Y7                  0
TV-Y7-FV               0
U/A                    0
Unrated                0
X                      0
Not Rated              0
certificate_nan        0
movieId            60000
title_only             0
year                   0
dtype: int64

API time

In [342]:
sample_row = df_imdb_movies1.iloc[0]
sample_row

title              The Shawshank Redemption (1994)
imdb_rating                                    9.3
num_of_rating                            2700000.0
Action                                           0
Adult                                            0
                                ...
Not Rated                                        0
certificate_nan                                  0
movieId                                      318.0
title_only                The Shawshank Redemption
year                                          1994
Name: 0, Length: 82, dtype: object

In [343]:
title = sample_row.title_only
year = sample_row.year
print(title)
print(year)

The Shawshank Redemption
1994

In [344]:
parameters = {
    "t": title,
    "y": year
}

response = requests.get("https://www.omdbapi.com/?apikey=ae41fb6d", params=parameters)

jprint(response.json())

{
    "Actors": "Tim Robbins, Morgan Freeman, Bob Gunton",
    "Awards": "Nominated for 7 Oscars. 21 wins & 43 nominations total",
    "BoxOffice": "$28,767,189",
    "Country": "United States",
    "DVD": "21 Dec 1999",
    "Director": "Frank Darabont",
    "Genre": "Drama",
    "Language": "English",
    "Metascore": "81",
    "Plot": "Over the course of several years, two convicts form a friendship, seeking consolation and, eventually, redemption through basic compassion.",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg",
    "Production": "N/A",
    "Rated": "R",
    "Ratings": [
        {
            "Source": "Internet Movie Database",
            "Value": "9.3/10"
        },
        {
            "Source": "Rotten Tomatoes",
            "Value": "91%"
        },
        {
            "Source": "Metacritic",
            "Value": "81/100"
        }
    ],
    "Released": "14 Oct 1994",
    "Response": "True",
    "Runtime": "142 min",
    "Title": "The Shawshank Redemption",
    "Type": "movie",
    "Website": "N/A",
    "Writer": "Stephen King, Frank Darabont",
    "Year": "1994",
    "imdbID": "tt0111161",
    "imdbRating": "9.3",
    "imdbVotes": "2,704,541"
}

In [345]:
def api_time(row):
    title = row.title_only
    year = row.year
    
    parameters = {
        "t": title,
        "y": year
    }

    response = requests.get("https://www.omdbapi.com/?apikey=ae41fb6d", params=parameters)

    poster_url = response.json()['Poster']
    plot = response.json()['Plot']
    
    return poster_url, plot
#     return pd.Series([poster_url, plot])

In [346]:
api_time(sample_row)

KeyError: 'Poster'

In [ ]:
df_imdb_movies2test = df_imdb_movies1.copy().head(10)

In [ ]:
df_imdb_movies2test

In [ ]:
df_imdb_movies2[['poster_url', 'plot']] = df_imdb_movies2.apply(api_time ,axis=1, result_type='expand')

In [ ]:
df_imdb_movies2

In [ ]:
df_imdb_movies2 = df_imdb_movies1.copy()

In [ ]:
import concurrent.futures

def api_time(args):
    title, year = args
    
    parameters = {
        "t": title,
        "y": year
    }

    try:
        response = requests.get("https://www.omdbapi.com/?apikey=ae41fb6d", params=parameters)

        poster_url = response.json()['Poster']
        plot = response.json()['Plot']

        return poster_url, plot
    except:
        return np.nan, np.nan

# create a ThreadPoolExecutor with 10 threads
executor = concurrent.futures.ThreadPoolExecutor(max_workers=10)

# create a list of arguments for the api_time function
args_list = [(row.title_only, row.year) for _, row in df_imdb_movies2.iterrows()]

# execute the function calls in parallel
results = list(executor.map(api_time, args_list))

# unpack the results into two separate lists
poster_urls, plots = zip(*results)

# assign the new columns to the DataFrame
df_imdb_movies2['poster_url'] = poster_urls
df_imdb_movies2['plot'] = plots

In [ ]:
df_imdb_movies2

In [ ]:
df_imdb_movies2.info()

In [ ]:
df_imdb_movies2.to_csv('movies_web_app.csv', index=False)

# Checkpoint

In [362]:
df_imdb_movies_final = pd.read_csv('datasets/to_use/movies_web_app.csv')

C:\Users\Kevan\AppData\Local\Temp/ipykernel_13028/1518866272.py:1: DtypeWarning: Columns (82,83) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb_movies_final = pd.read_csv('datasets/to_use/movies_web_app.csv')

In [363]:
df_imdb_movies_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82722 entries, 0 to 82721
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            82722 non-null  object
 1   imdb_rating      82722 non-null  float64
 2   num_of_rating    82722 non-null  float64
 3   Action           82722 non-null  int64
 4   Adult            82722 non-null  int64
 5   Adventure        82722 non-null  int64
 6   Animation        82722 non-null  int64
 7   Biography        82722 non-null  int64
 8   Comedy           82722 non-null  int64
 9   Crime            82722 non-null  int64
 10  Documentary      82722 non-null  int64
 11  Drama            82722 non-null  int64
 12  Family           82722 non-null  int64
 13  Fantasy          82722 non-null  int64
 14  Film-Noir        82722 non-null  int64
 15  Game-Show        82722 non-null  int64
 16  History          82722 non-null  int64
 17  Horror           82722 non-null  int64
 18  Music            82722 non-null  int64
 19  Musical          82722 non-null  int64
 20  Mystery          82722 non-null  int64
 21  News             82722 non-null  int64
 22  Reality-TV       82722 non-null  int64
 23  Romance          82722 non-null  int64
 24  Sci-Fi           82722 non-null  int64
 25  Short            82722 non-null  int64
 26  Sport            82722 non-null  int64
 27  Talk-Show        82722 non-null  int64
 28  Thriller         82722 non-null  int64
 29  War              82722 non-null  int64
 30  Western          82722 non-null  int64
 31  genre_nan        82722 non-null  int64
 32  (Banned)         82722 non-null  int64
 33  13+              82722 non-null  int64
 34  15               82722 non-null  int64
 35  16+              82722 non-null  int64
 36  18+              82722 non-null  int64
 37  ADV              82722 non-null  int64
 38  ADV16            82722 non-null  int64
 39  AO               82722 non-null  int64
 40  All              82722 non-null  int64
 41  Approved         82722 non-null  int64
 42  E                82722 non-null  int64
 43  E10+             82722 non-null  int64
 44  F                82722 non-null  int64
 45  G                82722 non-null  int64
 46  GA               82722 non-null  int64
 47  GP               82722 non-null  int64
 48  K-A              82722 non-null  int64
 49  M                82722 non-null  int64
 50  M/PG             82722 non-null  int64
 51  M18              82722 non-null  int64
 52  MA-13            82722 non-null  int64
 53  MA-17            82722 non-null  int64
 54  NC-16            82722 non-null  int64
 55  NC-17            82722 non-null  int64
 56  NC16             82722 non-null  int64
 57  Open             82722 non-null  int64
 58  PG               82722 non-null  int64
 59  PG-13            82722 non-null  int64
 60  PG13             82722 non-null  int64
 61  Passed           82722 non-null  int64
 62  R                82722 non-null  int64
 63  R(A)             82722 non-null  int64
 64  R21              82722 non-null  int64
 65  T                82722 non-null  int64
 66  TV-13            82722 non-null  int64
 67  TV-14            82722 non-null  int64
 68  TV-G             82722 non-null  int64
 69  TV-MA            82722 non-null  int64
 70  TV-PG            82722 non-null  int64
 71  TV-Y             82722 non-null  int64
 72  TV-Y7            82722 non-null  int64
 73  TV-Y7-FV         82722 non-null  int64
 74  U/A              82722 non-null  int64
 75  Unrated          82722 non-null  int64
 76  X                82722 non-null  int64
 77  Not Rated        82722 non-null  int64
 78  certificate_nan  82722 non-null  int64
 79  movieId          22722 non-null  float64
 80  title_only       82722 non-null  object
 81  year             82722 non-null  int64
 82  poster_url       849 non-null    object
 83  plot             850 non-null    object
dtypes: float64(3), int64(77), object(4)
memory usage: 53.0+ MB

In [364]:
df_imdb_movies_final

,title,imdb_rating,num_of_rating,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,U/A,Unrated,X,Not Rated,certificate_nan,movieId,title_only,year,poster_url,plot
0,The Shawshank Redemption (1994),9.3,2700000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,318.0,The Shawshank Redemption,1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...,"Over the course of several years, two convicts..."
1,The Dark Knight (2008),9.0,2700000.0,1,0,0,0,0,0,1,...,0,0,0,0,0,58559.0,The Dark Knight,2008,https://m.media-amazon.com/images/M/MV5BMTMxNT...,When the menace known as the Joker wreaks havo...
2,Inception (2010),8.8,2400000.0,1,0,1,0,0,0,0,...,0,0,0,0,0,79132.0,Inception,2010,https://m.media-amazon.com/images/M/MV5BMjAxMz...,A thief who steals corporate secrets through t...
3,Fight Club (1999),8.8,2100000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,2959.0,Fight Club,1999,https://m.media-amazon.com/images/M/MV5BNDIzND...,An insomniac office worker and a devil-may-car...
4,Pulp Fiction (1994),8.9,2100000.0,0,0,0,0,0,0,1,...,0,0,0,0,0,296.0,Pulp Fiction,1994,https://m.media-amazon.com/images/M/MV5BNGNhMD...,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Long Slow Exhale (2022),6.5,181.0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,Long Slow Exhale,2022,NaN,NaN
82718,A Christmas Open House (2022),5.2,181.0,0,0,0,0,0,0,0,...,0,0,0,0,1,NaN,A Christmas Open House,2022,NaN,NaN
82719,Fast Times (1986),5.5,181.0,0,0,0,0,0,1,0,...,0,0,0,0,1,NaN,Fast Times,1986,NaN,NaN
82720,La maternal (2022),7.1,181.0,0,0,0,0,0,0,0,...,0,0,0,0,1,NaN,La maternal,2022,NaN,NaN
82721,Alien Sniperess (2022),2.2,181.0,1,0,0,0,0,0,0,...,0,0,0,0,1,NaN,Alien Sniperess,2022,NaN,NaN

In [365]:
# now process imdb_rating and num_of_rating similar to CB format
df_imdb_movies_final['num_of_rating_bins'] = pd.cut(x=df_imdb_movies_final['num_of_rating'], bins= [0, 500, 1000, 10000, 100000, 99999999999999], labels= ["super_low", "low", "medium", "high", "super_high"])

num_rating_columns = pd.get_dummies(df_imdb_movies_final.num_of_rating_bins, prefix='num_rating')
# print(num_rating_columns.head())
df_imdb_movies_final = df_imdb_movies_final.join(num_rating_columns)

df_imdb_movies_final['imdb_rating_bins'] = pd.cut(x=df_imdb_movies_final['imdb_rating'], bins= [0, 2.5, 5, 7.5, 10], labels= ["low", "medium", "high", "super_high"])

imdb_rating_columns = pd.get_dummies(df_imdb_movies_final.imdb_rating_bins, prefix='imdb_rating')
# print(imdb_rating_columns.head())
df_imdb_movies_final = df_imdb_movies_final.join(imdb_rating_columns)

df_imdb_movies_final = df_imdb_movies_final.drop(['imdb_rating_bins','num_of_rating_bins'], axis=1)

In [366]:
df_imdb_movies_final

,title,imdb_rating,num_of_rating,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,plot,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,The Shawshank Redemption (1994),9.3,2700000.0,0,0,0,0,0,0,0,...,"Over the course of several years, two convicts...",0,0,0,0,1,0,0,0,1
1,The Dark Knight (2008),9.0,2700000.0,1,0,0,0,0,0,1,...,When the menace known as the Joker wreaks havo...,0,0,0,0,1,0,0,0,1
2,Inception (2010),8.8,2400000.0,1,0,1,0,0,0,0,...,A thief who steals corporate secrets through t...,0,0,0,0,1,0,0,0,1
3,Fight Club (1999),8.8,2100000.0,0,0,0,0,0,0,0,...,An insomniac office worker and a devil-may-car...,0,0,0,0,1,0,0,0,1
4,Pulp Fiction (1994),8.9,2100000.0,0,0,0,0,0,0,1,...,"The lives of two mob hitmen, a boxer, a gangst...",0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Long Slow Exhale (2022),6.5,181.0,0,0,0,0,0,0,0,...,NaN,1,0,0,0,0,0,0,1,0
82718,A Christmas Open House (2022),5.2,181.0,0,0,0,0,0,0,0,...,NaN,1,0,0,0,0,0,0,1,0
82719,Fast Times (1986),5.5,181.0,0,0,0,0,0,1,0,...,NaN,1,0,0,0,0,0,0,1,0
82720,La maternal (2022),7.1,181.0,0,0,0,0,0,0,0,...,NaN,1,0,0,0,0,0,0,1,0
82721,Alien Sniperess (2022),2.2,181.0,1,0,0,0,0,0,0,...,NaN,1,0,0,0,0,1,0,0,0

In [367]:
cols_old = df_imdb_movies_final.columns.tolist()

In [368]:
cols_df = pd.DataFrame(cols_old)

In [369]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(cols_df)

                         0
0                    title
1              imdb_rating
2            num_of_rating
3                   Action
4                    Adult
5                Adventure
6                Animation
7                Biography
8                   Comedy
9                    Crime
10             Documentary
11                   Drama
12                  Family
13                 Fantasy
14               Film-Noir
15               Game-Show
16                 History
17                  Horror
18                   Music
19                 Musical
20                 Mystery
21                    News
22              Reality-TV
23                 Romance
24                  Sci-Fi
25                   Short
26                   Sport
27               Talk-Show
28                Thriller
29                     War
30                 Western
31               genre_nan
32                (Banned)
33                     13+
34                      15
35                     16+
36                     18+
37                     ADV
38                   ADV16
39                      AO
40                     All
41                Approved
42                       E
43                    E10+
44                       F
45                       G
46                      GA
47                      GP
48                     K-A
49                       M
50                    M/PG
51                     M18
52                   MA-13
53                   MA-17
54                   NC-16
55                   NC-17
56                    NC16
57                    Open
58                      PG
59                   PG-13
60                    PG13
61                  Passed
62                       R
63                    R(A)
64                     R21
65                       T
66                   TV-13
67                   TV-14
68                    TV-G
69                   TV-MA
70                   TV-PG
71                    TV-Y
72                   TV-Y7
73                TV-Y7-FV
74                     U/A
75                 Unrated
76                       X
77               Not Rated
78         certificate_nan
79                 movieId
80              title_only
81                    year
82              poster_url
83                    plot
84    num_rating_super_low
85          num_rating_low
86       num_rating_medium
87         num_rating_high
88   num_rating_super_high
89         imdb_rating_low
90      imdb_rating_medium
91        imdb_rating_high
92  imdb_rating_super_high

In [370]:
cols_new = cols_old[0:3] + cols_old[80:84] + [cols_old[79]] + cols_old[3:79] + cols_old[84:]

In [371]:
df_imdb_movies_final1 = df_imdb_movies_final[cols_new]

In [372]:
df_imdb_movies_final1

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,The Shawshank Redemption (1994),9.3,2700000.0,The Shawshank Redemption,1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...,"Over the course of several years, two convicts...",318.0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,The Dark Knight (2008),9.0,2700000.0,The Dark Knight,2008,https://m.media-amazon.com/images/M/MV5BMTMxNT...,When the menace known as the Joker wreaks havo...,58559.0,1,0,...,0,0,0,0,0,1,0,0,0,1
2,Inception (2010),8.8,2400000.0,Inception,2010,https://m.media-amazon.com/images/M/MV5BMjAxMz...,A thief who steals corporate secrets through t...,79132.0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,Fight Club (1999),8.8,2100000.0,Fight Club,1999,https://m.media-amazon.com/images/M/MV5BNDIzND...,An insomniac office worker and a devil-may-car...,2959.0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,Pulp Fiction (1994),8.9,2100000.0,Pulp Fiction,1994,https://m.media-amazon.com/images/M/MV5BNGNhMD...,"The lives of two mob hitmen, a boxer, a gangst...",296.0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Long Slow Exhale (2022),6.5,181.0,Long Slow Exhale,2022,NaN,NaN,NaN,0,0,...,0,1,0,0,0,0,0,0,1,0
82718,A Christmas Open House (2022),5.2,181.0,A Christmas Open House,2022,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
82719,Fast Times (1986),5.5,181.0,Fast Times,1986,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
82720,La maternal (2022),7.1,181.0,La maternal,2022,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
82721,Alien Sniperess (2022),2.2,181.0,Alien Sniperess,2022,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,1,0,0,0

In [375]:
# df_imdb_movies_final1.to_csv('movies_web_app_final.csv', index=False)

# adding movieId to everything

In [379]:
df_imdb_movies_with_id = df_imdb_movies_final1.sort_values(by=['movieId', 'title'])
df_imdb_movies_with_id.reset_index(drop=True, inplace=True)

In [396]:
df_not_null = df_imdb_movies_with_id[~df_imdb_movies_with_id.movieId.isna()] 
df_not_null #we see the last movieLens movieId is 209145

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,Toy Story (1995),8.3,997000.0,Toy Story,1995,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,A cowboy doll is profoundly threatened and jea...,1.0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,Jumanji (1995),7.0,351000.0,Jumanji,1995,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,When two kids find and play a magical board ga...,2.0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Waiting to Exhale (1995),5.9,11000.0,Waiting to Exhale,1995,NaN,NaN,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,Tom and Huck (1995),5.5,11000.0,Tom and Huck,1995,NaN,NaN,8.0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Nixon (1995),7.1,32000.0,Nixon,1995,NaN,NaN,14.0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22717,"Maria, Mirabella (1981)",7.6,665.0,"Maria, Mirabella",1981,NaN,NaN,208941.0,0,0,...,1,0,1,0,0,0,0,0,0,1
22718,Acceleration (2019),3.5,1800.0,Acceleration,2019,NaN,NaN,208943.0,1,0,...,0,0,0,1,0,0,0,1,0,0
22719,Yamasong: March of the Hollows (2017),5.1,266.0,Yamasong: March of the Hollows,2017,NaN,NaN,209041.0,0,0,...,0,1,0,0,0,0,0,0,1,0
22720,Bowling (2012),5.0,500.0,Bowling,2012,NaN,NaN,209053.0,0,0,...,0,1,0,0,0,0,0,1,0,0
22721,Liberté (2019),4.6,1200.0,Liberté,2019,NaN,NaN,209145.0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [397]:
#assign movieId in order, starting from 209146, index 22722

df_null = df_imdb_movies_with_id[df_imdb_movies_with_id.movieId.isna()]
df_null

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
22722,"""Giliap"" (1975)",6.3,884.0,"""Giliap""",1975,NaN,NaN,NaN,0,0,...,1,0,1,0,0,0,0,0,1,0
22723,"""Swing it"" magistern (1940)",6.1,282.0,"""Swing it"" magistern",1940,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
22724,#69 Samskar Colony (2022),7.6,505.0,#69 Samskar Colony,2022,NaN,NaN,NaN,0,0,...,1,0,1,0,0,0,0,0,0,1
22725,"#73, Shaanthi Nivaasa (2007)",7.5,228.0,"#73, Shaanthi Nivaasa",2007,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
22726,#DoYouThinkIAmSexy (2022),5.9,306.0,#DoYouThinkIAmSexy,2022,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Üç Sevgili (1972),5.5,187.0,Üç Sevgili,1972,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
82718,Üç arkadas (1972),6.9,494.0,Üç arkadas,1972,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
82719,Üçüncü Sayfa (1999),7.3,3900.0,Üçüncü Sayfa,1999,NaN,NaN,NaN,0,0,...,1,0,0,1,0,0,0,0,1,0
82720,Þrestir (2015),6.8,1600.0,Þrestir,2015,NaN,NaN,NaN,0,0,...,1,0,0,1,0,0,0,0,1,0
82721,緣路山旮旯 (2021),6.5,248.0,緣路山旮旯,2021,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0

In [398]:
max_id = int(df_imdb_movies_with_id['movieId'].max())
# print(type(max_id))

num_rows = df_null.shape[0]
# print(type(num_rows))

df_null['movieId'] = range(max_id + 1, max_id + 1 + num_rows)

C:\Users\Kevan\AppData\Local\Temp/ipykernel_13028/3720459659.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null['movieId'] = range(max_id + 1, max_id + 1 + num_rows)

In [399]:
df_null

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
22722,"""Giliap"" (1975)",6.3,884.0,"""Giliap""",1975,NaN,NaN,209146,0,0,...,1,0,1,0,0,0,0,0,1,0
22723,"""Swing it"" magistern (1940)",6.1,282.0,"""Swing it"" magistern",1940,NaN,NaN,209147,0,0,...,1,1,0,0,0,0,0,0,1,0
22724,#69 Samskar Colony (2022),7.6,505.0,#69 Samskar Colony,2022,NaN,NaN,209148,0,0,...,1,0,1,0,0,0,0,0,0,1
22725,"#73, Shaanthi Nivaasa (2007)",7.5,228.0,"#73, Shaanthi Nivaasa",2007,NaN,NaN,209149,0,0,...,1,1,0,0,0,0,0,0,1,0
22726,#DoYouThinkIAmSexy (2022),5.9,306.0,#DoYouThinkIAmSexy,2022,NaN,NaN,209150,0,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Üç Sevgili (1972),5.5,187.0,Üç Sevgili,1972,NaN,NaN,269141,0,0,...,1,1,0,0,0,0,0,0,1,0
82718,Üç arkadas (1972),6.9,494.0,Üç arkadas,1972,NaN,NaN,269142,0,0,...,1,1,0,0,0,0,0,0,1,0
82719,Üçüncü Sayfa (1999),7.3,3900.0,Üçüncü Sayfa,1999,NaN,NaN,269143,0,0,...,1,0,0,1,0,0,0,0,1,0
82720,Þrestir (2015),6.8,1600.0,Þrestir,2015,NaN,NaN,269144,0,0,...,1,0,0,1,0,0,0,0,1,0
82721,緣路山旮旯 (2021),6.5,248.0,緣路山旮旯,2021,NaN,NaN,269145,0,0,...,1,1,0,0,0,0,0,0,1,0

In [401]:
df_imdb_movies_with_id_final = pd.concat([df_not_null, df_null])

In [402]:
df_imdb_movies_with_id_final

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
0,Toy Story (1995),8.3,997000.0,Toy Story,1995,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,A cowboy doll is profoundly threatened and jea...,1.0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,Jumanji (1995),7.0,351000.0,Jumanji,1995,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,When two kids find and play a magical board ga...,2.0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Waiting to Exhale (1995),5.9,11000.0,Waiting to Exhale,1995,NaN,NaN,4.0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,Tom and Huck (1995),5.5,11000.0,Tom and Huck,1995,NaN,NaN,8.0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Nixon (1995),7.1,32000.0,Nixon,1995,NaN,NaN,14.0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82717,Üç Sevgili (1972),5.5,187.0,Üç Sevgili,1972,NaN,NaN,269141.0,0,0,...,1,1,0,0,0,0,0,0,1,0
82718,Üç arkadas (1972),6.9,494.0,Üç arkadas,1972,NaN,NaN,269142.0,0,0,...,1,1,0,0,0,0,0,0,1,0
82719,Üçüncü Sayfa (1999),7.3,3900.0,Üçüncü Sayfa,1999,NaN,NaN,269143.0,0,0,...,1,0,0,1,0,0,0,0,1,0
82720,Þrestir (2015),6.8,1600.0,Þrestir,2015,NaN,NaN,269144.0,0,0,...,1,0,0,1,0,0,0,0,1,0
82721,緣路山旮旯 (2021),6.5,248.0,緣路山旮旯,2021,NaN,NaN,269145.0,0,0,...,1,1,0,0,0,0,0,0,1,0

In [403]:
df_imdb_movies_with_id_final.to_csv('movies_web_app_with_id_final.csv', index=False)