In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../datasets/movielens_original/ratings.csv')
df_movie = pd.read_csv('../datasets/movielens_original/movies.csv')
final = pd.read_csv('../datasets/movies_web_app_final.csv')

C:\Users\Vincent\AppData\Local\Temp\ipykernel_23256\1348778720.py:3: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv('../datasets/movies_web_app_final.csv')

In [14]:
final[final.title.duplicated()]

,title,imdb_rating,num_of_rating,title_only,year,poster_url,plot,movieId,Action,Adult,...,certificate_nan,num_rating_super_low,num_rating_low,num_rating_medium,num_rating_high,num_rating_super_high,imdb_rating_low,imdb_rating_medium,imdb_rating_high,imdb_rating_super_high
9847,Casanova (2005),7.8,5100.0,Casanova,2005,NaN,NaN,42015.0,0,0,...,0,0,0,1,0,0,0,0,0,1
11249,Börü (2018),6.7,4400.0,Börü,2018,NaN,NaN,NaN,1,0,...,1,0,0,1,0,0,0,0,1,0
11743,Pippi Långstrump (1969),7.4,4100.0,Pippi Långstrump,1969,NaN,NaN,NaN,0,0,...,1,0,0,1,0,0,0,0,1,0
18598,The Passage (2019),7.0,2200.0,The Passage,2019,NaN,NaN,NaN,1,0,...,1,0,0,1,0,0,0,0,1,0
22338,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22339,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22340,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22341,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22342,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22343,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22344,The Price of Milk (2000),6.5,1700.0,The Price of Milk,2000,NaN,NaN,4157.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22346,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22347,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22348,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22349,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22350,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22351,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
22352,The Captain's Paradise (1953),6.8,1700.0,The Captain's Paradise,1953,NaN,NaN,33790.0,0,0,...,0,0,0,1,0,0,0,0,1,0
26272,American Woman (2018),6.3,1400.0,American Woman,2018,NaN,NaN,NaN,0,0,...,0,0,0,1,0,0,0,0,1,0
28668,The Final Cut (1995),5.5,1200.0,The Final Cut,1995,NaN,NaN,NaN,1,0,...,0,0,0,1,0,0,0,0,1,0
41812,Life of Crime (2013),6.6,651.0,Life of Crime,2013,NaN,NaN,113775.0,0,0,...,0,0,1,0,0,0,0,0,1,0
44196,Bruiser (2000),7.1,595.0,Bruiser,2000,NaN,NaN,27268.0,0,0,...,1,0,1,0,0,0,0,0,1,0
50290,Air (2005),6.8,479.0,Air,2005,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
50676,Maneater (2009),4.3,472.0,Maneater,2009,NaN,NaN,NaN,0,0,...,0,1,0,0,0,0,0,1,0,0
57896,Gintama (2017),7.0,378.0,Gintama,2017,NaN,NaN,191005.0,1,0,...,0,1,0,0,0,0,0,0,1,0
58042,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58043,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58044,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58045,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58046,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58047,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58048,Adventures of Captain Fabian (1951),5.5,376.0,Adventures of Captain Fabian,1951,NaN,NaN,78049.0,0,0,...,1,1,0,0,0,0,0,0,1,0
58498,The Smoke (2014),4.2,371.0,The Smoke,2014,NaN,NaN,NaN,0,0,...,0,1,0,0,0,0,0,1,0,0
60066,Kaali (2018),5.2,352.0,Kaali,2018,NaN,NaN,NaN,1,0,...,0,1,0,0,0,0,0,0,1,0
61024,Huge (2010),4.3,341.0,Huge,2010,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,1,0,0
65269,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,1,0,0
65270,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,1,0,0
65271,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,1,0,0
65272,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,1,0,0
65273,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,1,0,0
65274,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,1,0,0
65275,Insaniyat (1994),3.0,299.0,Insaniyat,1994,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,1,0,0
65277,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,0,1,0
65278,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,0,1,0
65279,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,1,0,...,1,1,0,0,0,0,0,0,1,0
65280,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
65281,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
65282,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
65283,Les particules (2019),5.3,299.0,Les particules,2019,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0
79015,Anna (1987),6.7,198.0,Anna,1987,NaN,NaN,7404.0,0,0,...,1,1,0,0,0,0,0,0,1,0
81244,Der Seewolf (1971),7.6,188.0,Der Seewolf,1971,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,0,1
81247,Dnevnik masinovodje (2016),6.5,188.0,Dnevnik masinovodje,2016,NaN,NaN,NaN,0,0,...,1,1,0,0,0,0,0,0,1,0

In [10]:
df_search = final[final.title.apply(lambda x: 'spongebob' in x.lower())].head().rename(columns={'title': 'label'})
df_search['value'] = df_search['label']
df_search[['value', 'label']].to_json(orient='records')

'[{"value":"The SpongeBob Movie: Sponge on the Run (2020)","label":"The SpongeBob Movie: Sponge on the Run (2020)"}]'

In [16]:
df_search = df_movie[df_movie.title.apply(lambda x: 'spongebob' in x.lower())].rename(columns={'title': 'label'})
df_search['value'] = df_search['label']
df_search[['value', 'label']].to_json(orient='records')

'[{"value":"SpongeBob SquarePants Movie, The (2004)","label":"SpongeBob SquarePants Movie, The (2004)"},{"value":"SpongeBob Movie: Sponge Out of Water, The (2015)","label":"SpongeBob Movie: Sponge Out of Water, The (2015)"},{"value":"Spongebob Squarepants 4D Attraction: The Great Jelly Rescue (2013)","label":"Spongebob Squarepants 4D Attraction: The Great Jelly Rescue (2013)"},{"value":"Square Roots: The Story of SpongeBob SquarePants (2009)","label":"Square Roots: The Story of SpongeBob SquarePants (2009)"}]'

In [ ]:
df = df.merge(df_movie, how="left", on="movieId")

In [ ]:
df.groupby('title')['rating'].mean().sort_values(ascending=False).head()

movieId  title                               genres
1        Toy Story (1995)                    Adventure|Animation|Children|Comedy|Fantasy    57309
2        Jumanji (1995)                      Adventure|Children|Fantasy                     24228
3        Grumpier Old Men (1995)             Comedy|Romance                                 11804
4        Waiting to Exhale (1995)            Comedy|Drama|Romance                            2523
5        Father of the Bride Part II (1995)  Comedy                                         11714
                                                                                            ...
209157   We (2018)                           Drama                                              1
209159   Window of the Soul (2001)           Documentary                                        1
209163   Bad Poems (2018)                    Comedy|Drama                                       1
209169   A Girl Thing (2001)                 (no genres listed)                                 1
209171   Women of Devil's Island (1962)      Action|Adventure|Drama                             1
Name: rating, Length: 59047, dtype: int64

In [70]:
# dict_movies = {i: x for i, x in enumerate(df.movieId.unique())}
# dict_users = {i: x for i, x in enumerate(df.userId.unique())}

dict_movies = {}
index = 0

for ids in sorted(df.movieId.unique()):
    dict_movies[ids] = index
    index += 1

dict_users = {}
index = 0
for ids in sorted(df.userId.unique()):
    dict_users[ids] = index
    index += 1

In [5]:
import tensorflow as tf
from tensorflow.keras.models import load_model

model = load_model('saved_model.h5')

In [27]:
df[df.title == 'Finding Nemo (2003)'].sort_values(by='rating', ascending=False).head(10)

,userId,movieId,rating,timestamp,title,genres
11801908,76522,6377,5.0,1492057837,Finding Nemo (2003),Adventure|Animation|Children|Comedy
3487778,23003,6377,5.0,1486233192,Finding Nemo (2003),Adventure|Animation|Children|Comedy
8168531,53150,6377,5.0,1422400638,Finding Nemo (2003),Adventure|Animation|Children|Comedy
3495834,23070,6377,5.0,1552862555,Finding Nemo (2003),Adventure|Animation|Children|Comedy
15856843,102767,6377,5.0,1348933066,Finding Nemo (2003),Adventure|Animation|Children|Comedy
21121361,137257,6377,5.0,1274175133,Finding Nemo (2003),Adventure|Animation|Children|Comedy
21123912,137271,6377,5.0,1073461587,Finding Nemo (2003),Adventure|Animation|Children|Comedy
8177162,53206,6377,5.0,1145625620,Finding Nemo (2003),Adventure|Animation|Children|Comedy
15854324,102743,6377,5.0,1076962574,Finding Nemo (2003),Adventure|Animation|Children|Comedy
15853628,102740,6377,5.0,1086803252,Finding Nemo (2003),Adventure|Animation|Children|Comedy

In [48]:
df[df.userId == 53206].sort_values(by='rating', ascending=False)

,userId,movieId,rating,timestamp,title,genres
8177162,53206,6377,5.0,1145625620,Finding Nemo (2003),Adventure|Animation|Children|Comedy
8177174,53206,6889,5.0,1145634267,Brother Bear (2003),Adventure|Animation|Children
8177189,53206,8368,5.0,1145634379,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX
8177188,53206,8361,5.0,1145626627,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller
8177128,53206,4886,5.0,1145625924,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
8177205,53206,27434,1.5,1145633928,Darkness (2002),Horror|Mystery
8177075,53206,2378,1.5,1145626131,Police Academy (1984),Comedy|Crime
8177053,53206,1517,1.5,1145625977,Austin Powers: International Man of Mystery (1...,Action|Adventure|Comedy
8177085,53206,2710,1.0,1145625326,"Blair Witch Project, The (1999)",Drama|Horror|Thriller
8177078,53206,2529,1.0,1145626405,Planet of the Apes (1968),Action|Drama|Sci-Fi

In [71]:
user_id = 53206
predicted_rating = model.predict([pd.Series([user_id]*len(dict_movies)), pd.Series(dict_movies.values())])
predicted_rating = pd.DataFrame(predicted_rating)
predicted_rating

1846/1846 [==============================] - 1s 506us/step

              0
0      4.269628
1      3.415756
2      3.107394
3      2.819999
4      3.322245
...         ...
59042  1.343034
59043  3.319898
59044  4.540727
59045  2.952117
59046  2.948704

[59047 rows x 1 columns]

In [72]:
a = pd.DataFrame(dict_movies.keys(), columns=['movieId']).merge(df_movie, how="left", on="movieId")
a

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
59042,209157,We (2018),Drama
59043,209159,Window of the Soul (2001),Documentary
59044,209163,Bad Poems (2018),Comedy|Drama
59045,209169,A Girl Thing (2001),(no genres listed)
59046,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [74]:
result = pd.concat([a, predicted_rating], axis=1)
movies_watched_by_user = df[df.userId == user_id]
not_watched = result[~result.movieId.isin(movies_watched_by_user.movieId.values)]
top_10 = not_watched.sort_values(0, ascending=False)[['title', 'genres']].head(10)

top_10

,title,genres
57856,Inside Out (1991),Comedy|Drama|Romance
34410,All About My Wife (2012),Comedy|Romance
56719,Foster (2018),Documentary
35291,The Thorn (1971),Comedy
38108,The Viking (1931),Action|Adventure|Drama|Romance
38103,Anybody's Son Will Do,(no genres listed)
38243,Evening's Civil Twilight in Empires of Tin (2008),(no genres listed)
38102,Catching Out (2003),(no genres listed)
58979,Screen Play (1992),(no genres listed)
38111,Plastic Utopia (1997),(no genres listed)